<html>
    <head>
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link href="/imagenes/favicon.ico" rel="shortcut icon">
        <title>No Hay Señal, Punk rock</title>
    </head>
    <body>
        <div id='header'>
            <!-- <nav>
        <ul class="w3-navbar w3-card-8 w3-blue w3-large" >
          <li><a href="/">Volver</a></li>
          <li><a href="presu">Presupuesto</a></li>
          <li><a href="contact">Contacto</i></a></li>
          <li><a href="about">Sobre mi</a></li>
          </ul>
      </nav>

    </div> -->
            <div id='main'>
                <%= yield %>
            </div>
        </body>
    </html>
